<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sww.stuinfo.mapper.AdminMapper">

    <delete id="deleteUser" parameterType="String">
        delete from user where id = #{username}
    </delete>

    <insert id="addUser" parameterType="user">
        insert into user
        <choose>
            <when test="role == 'instructor' or role == 'admin'">
                (id,password,role)
                values
                (#{username}, #{password}, #{role})
            </when>
            <otherwise>
                (id,password)
                values
                (#{username}, #{password})
            </otherwise>
        </choose>
    </insert>

    <update id="updateUser">
        update user
        <set>
            <if test="password != null and password.length() > 0">
                password = #{password},
            </if>
            <if test="role == 'stu' or role == 'instructor' or role == 'admin'">
                role = #{role},
            </if>
        </set>
        where id = #{username}
    </update>

    <insert id="addStudentInfo">
        insert into stu_info
        (id,cls_id,maj_id,ins_id,instructor)
        values
        (#{username}, #{classId},#{majorId},#{instituteId},#{instructorId})
    </insert>



    <select id="getAllInstitute" resultType="institute">
        select * from institute
    </select>

    <update id="updateInstitute" parameterType="String">
        update institute
        <set>
            name = #{name}
        </set>
        where id = #{id}
    </update>

    <insert id="addInstitute" parameterType="institute">
        insert into institute
        (id,name)
        values
        (#{id},#{name})
    </insert>

    <delete id="deleteInstitute" parameterType="String">
        delete from institute
        where id = #{id}
    </delete>



    <select id="getAllMajor" resultType="major">
        select * from major
    </select>

    <select id="getMajor" resultType="major">
        select * from major
        where id = #{id}
    </select>

    <update id="updateMajor" parameterType="String">
        update major
        <set>
            <if test="name != null and name.length() > 0">name = #{name},</if>
            <if test="instituteId != null and instituteId.length() > 0">ins_id = #{instituteId}</if>
        </set>
        where id = #{id}
    </update>

    <insert id="addMajor" parameterType="major">
        insert into major
        (id,name,ins_id)
        values
        (#{id},#{name},#{instituteId})
    </insert>

    <delete id="deleteMajor" parameterType="String">
        delete from major
        where id = #{id}
    </delete>


    <sql id="clazzSql">
        select class.id id, number, major.name major, ui.name instructor, grade, count(si.cls_id) studentNumber,major.id majorId
        from class
        left join user_info ui
        on class.instructor = ui.id
        left join major
        on major.id = class.maj_id
        left join stu_info si
        on si.cls_id = class.id
    </sql>

    <select id="getAllClazz" resultType="clazz">
        <include refid="clazzSql"/>
        group by class.id
    </select>

    <select id="findClazzById" resultType="clazz">
        <include refid="clazzSql"/>
        where class.id = #{id}
    </select>

    <update id="updateClazz">
        update class
        <set>
            <if test="major!=null and major.length()>0 ">maj_id = #{major},</if>
            <if test="number!=null and number.length()>0">number = #{number},</if>
            <if test="instructor!=null and instructor.length()>0">instructor = #{instructor},</if>
            <if test="grade!=null and grade.length()>0">grade = #{grade}</if>
        </set>
        where id = #{id}
    </update>

    <insert id="addClazz" parameterType="clazz">
        insert into class
        (id,number,maj_id,grade,instructor)
        values
        (#{id},#{number},#{major},#{grade},#{instructor})
    </insert>

    <delete id="deleteClazz">
        delete from class
        where id = #{id}
    </delete>

    <delete id="deleteUserInfo" parameterType="String">
        delete from user_info
        where id = #{id}
    </delete>

    <update id="updateStudentInfo" parameterType="requestStudentInfo">
        update stu_info
        <set>
            <if test="classId!=null and classId.length()>0">cls_id = #{classId},</if>
            <if test="instructorId!=null and instructorId.length()>0">instructor = #{instructorId},</if>
            <if test="instituteId!=null and instituteId">ins_id = #{instituteId},</if>
            <if test="majorId!=null and majorId.length()>0">maj_id = #{majorId}</if>
        </set>
        where id = #{username}
    </update>

    <delete id="deleteStudentInfo" parameterType="String">
        delete from stu_info
        where id = #{id}
    </delete>


    <insert id="addFamilyMember" parameterType="familyMember">
        insert into family_member
        (id,user_id,name,relation,job,telephone)
        values
        (#{id},#{studentUsername},#{name},#{relation},#{job},#{telephone});
    </insert>

    <delete id="deleteFamilyMember" parameterType="String">
        delete from family_member
        where id = #{id}
    </delete>

</mapper>